body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f9f9f9;
    color: #333;
    text-align: center;
}

header {
    background: #df63a9;
    color: white;
    padding: 10px;
}

h2 {
    margin-top: 30px;
    color: #65aabe;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
}

.gallery div {
    background: white;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    box-shadow: 0 2px 5px rgba(49, 47, 47, 0.2);
}

.gallery img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
}

footer {
    margin-top: 40px;
    background: #7edabb;
    color: white;
    padding: 10px;
}